@{
    ViewBag.Title = "Confirmación de olvidó de contraseña";
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor revisa tu correo electrónico para cambiar tu contraseña.
    </p>
</div>
	
