@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>SISPOL v1.0</h1>
    <p class="lead">Sistema para la gestión y control de Polizas Vehículares de la empresa Retails</p>
    <p><a href="#" class="btn btn-primary btn-lg">leer mas &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Acerca de Nosotros</h2>
        <p>
            La Empresa Perú Retails es líder en el segmento de seguros vehículares y afines.
        </p>
        <p><a class="btn btn-default" href="#">leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Principales Productos</h2>
        <p>Nuestros principales productos ...</p>
        <p><a class="btn btn-default" href="#">leer mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contactenos</h2>
        <p>Usted puede contactarnos a las siguiente dirección de correo eléctronico contactenos@retails.com </p>
        <p><a class="btn btn-default" href="#">leer mas &raquo;</a></p>
    </div>
</div>